@use "../util";

html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: util.$font;
    background-color: var(--background-color);
    color: var(--text-color);
}

nav {
    background-color: #121212;
    padding: 0.5em;
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: space-around;
    }
    a {
        display: inline-block;
        text-decoration: none;
        color: white;
        padding: 0.5em;
    }
}

img {
    display: block;
    width: 100%;
}

.center {
    text-align: center;
    margin-top: 1em;
}

button {
    display: flex;
    margin-inline: auto;
    padding: 0.5em;
    margin-bottom: 2em;
    cursor: pointer;
}

@media only screen and (min-width: 1050px) {
    button {
    display: flex;
    margin-inline: auto;
    padding: 0.5em;
    margin-bottom: 7em;
    cursor: pointer;
    }
}

@media only screen and (min-width: 1300px) {
    button {
    display: flex;
    margin-inline: auto;
    padding: 0.5em;
    margin-bottom: 15em;
    cursor: pointer;
    }
}

footer {
    text-align: center;
    h3, p {
        margin-bottom: 0;
    }
    i {
        cursor: pointer;
    }
    background-color: #e4dede;
    padding-top: 1em;
}