.ten, .hack, .ecommerce, .uidesign {
    display: block;
    h2, h3 {
        text-align: center;
        margin: 1em;
    }
    p {
        margin: 1em 2em 2em 2em;
    }
}

@media only screen and (min-width: 750px) {
    .ten, .hack, .ecommerce, .uidesign {
        p {
            margin: 1em 4em 2em 4em;
        }
    }
}

@media only screen and (min-width: 1050px) {
    .ten, .ecommerce {
        img {
            float: left !important;
            width: 500px;
            margin-left: 5em;
        }
        p {
            margin: 1em 4em 1em 40em;
        }
    }
    .hack, .uidesign {
        img {
            float: right !important;
            width: 500px;
            margin-right: 5em;
        }
        p {
            margin: 1em 40em 1em 4em;
        }
    }
}

@media only screen and (min-width: 1300px) {
    .ten, .ecommerce {
        img {
            float: left !important;
            width: 600px;
            margin-left: 5em;
        }
        p {
            margin: 1em 4em 1em 45em;
        }
    }
    .hack, .uidesign {
        img {
            float: right !important;
            width: 600px;
            margin-right: 5em;
        }
        p {
            margin: 1em 45em 1em 4em;
        }
    }
}